$primary-color : #2a6de5;
$secondary-color : #ecf0f1;
$bluegrey: #283b5a;
$d: 600;
$sb: 700;
/** @format */

// Names
$white: #fff;
$black: #000;
// $theme_purple: #512da8;
$theme_purple:#2a6de5;
$theme_pink:#ea218e;
$theme_green: #39b549;
$primary-color: $theme_purple;
$primary-text-color: #ffffff;
$primary-color-shade:rgba($primary-color, 0.2);
$w-primary-color:$theme_purple;
$w-primary-color-shade:rgba($primary-color, 0.2);
$aquamarine: #7fffd4;
$alabaster: #f9f9f9;
$alto: #d9d9d9;
$mine-shaft: #333;
$base-color: #262f3c;
$grey-bg: #eff2f6;
$grey-light: #d3d7e0;
$border: #ddd;
$bluegrey: #283b5a;
$input-border: #e1e4e8;
$hovergrey: #f4f5f7;
$brown: #a2877c;
$blue: #7883d1;
$darkgrey: #475f7b;
$outline: #e6e4e4;
$darkblue: #0053bf;
$grey: #e1e2e6;
$lightgrey: #475f7b;
$lightblue: #a4dde4;
$grey-icon: $grey-light;
$danger: #d9534f;
$lightergrey: #d9d9d9;
$lightblack: #424d57;
$lightpurple: #8e9aea;
$success: #48b713;
$warning: #e6a314;
$orange: #ff8309;
$p-lightpurple:#dde9ff;
// Roles
$primary: $white;
$secondary: $alabaster;
$accent: $aquamarine;
$text: $mine-shaft;
$border: #e6e4e4;
$border-light: #dee3e8;
$border-primary: $primary-color;
$btn-primary: $primary-color;
$btn-light-hover: #f6f8fb;
$layout-background: #f2f6fb;
// Socials
$facebook: #3b5998;
$whatsapp: #25d366;
$web: #0021b3;
$twilio: #f22f46;
$googleassistant: #4a78fb;
$web-icon: #014687;
$telegram: #1da4dc;
$twitter: #55adec;
$slack-icon: #e0205b;
$robot: #00acea;
//social icons
.whatsapp-icon {
    color: $whatsapp;
}

.skype-icon {
    color: $twitter;
}

.web-icon {
    color: $web-icon;
    font-size: 16px;
}

.mail-icon {
    color: $twilio;
    font-size: 16px;
}

.bg-purple-dark {
    background-color: #6e5692;
}

.bg-purple {
    background-color: $lightpurple;
}

// Talkk
$tColor: #61438e;
$aColor: #ea208f;
$lColor: #62bb47;
$kColor: #51c8ea;
$kkColor: #f9a431;
$theme-absa: #aa0d2c;
// Client Brand
$abby-primary: #af144b;
$abby-primary-text: #2d2323;
$abby-primary-text-graphite-1: #524a4a;
$abby-primary-text-graphite-2: #787272;
$abby-primary-text-graphite-3: #9a9595;
$abby-border-color: #d7d5d5;
$abby-btn-primary-orange: #fa551e;
$abby-success: #3bb719;
$abby-danger: #f60e08;
$abby-warning: #f28f06;
$abby-info: #099ef3;
$abby-block1: #f9f8f8;
$abby-block2: #f4f3f3;
$abby-block3: #eeeded;
//New Variables:
$bg-grey: #f2f4f3;
$border-grey: #e1e3e2;
$navicon-dblue: #45607a;
$lblue: #dde8fc;
$dblue: #45607a;
//Button Colors
$primary-background: $primary-color;
$secondary-background: #dddddd;
$dgray-background: #7a8598;
$lgray-border: #dee3e8;
$lgray-hover: #f6f8fb;
$pink-background: #ea218e;
$lgreen-background: #60dc60;
$lblue-background: #4fa7ff;
$dangerRed-background: #d9534f;
$lred-background: #fe3965;
$yellow-background: #ffbc3d;
$lcyan-background: #01aaad;
$dpurple-background: #c8016f;
$skyBlue-background: #68c8f8;
.text-primary {
    color: var(--primary-color);
}

// App Header
$header-height: 65px;
$header-background: $white;

// App Sidebar Navigation
$sidebar-menu-width: 68px;
$sidebar-full-width: 200px;
// App Layouts
