body{
    background-color: #f2f6fb;
}
.mt-20{
    margin-top: 20px;
}
.mr-10{
    margin-right: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-10{
    margin-bottom: 10px;
}
.text-light{
    color: gray !important;
}
.text-small{
    font-size: 10px;
}