/** @format */
.btn {
    padding: 6px 12px;
    &.btn-sm {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    &:active,
    &:focus,
    &:active:focus {
      outline: none;
    }
}
   button {
    &:active,
    &:focus,
    &:active:focus {
      outline: 0;
      outline-offset: 0;
    }
   }
  .btn {
    border-radius: 2px;
    //New Variables for buttons
    &.btn-primary {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #ffffff;
    }
    &.btn-secondary{
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: #000000; 
      &:hover{
        opacity: 0.5;
      }
    }
    &.btn-orange{
        background-color: #f05920;
        border-color: #f05920;
        border-radius: 5px;
        color: #ffffff;
    }
    &.o-btn-lgray {
      color: $base-color;
      border-color: $lgray-border;
      background-color: $white;
      .fa {
        color: $dgray-background;
      }
      &:hover,
      &.active {
        background-color: $lgray-hover;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    &:hover{
        opacity: 0.8;
    }
  }
  