//header2
 .navbar{
    background-color: $primary-color;
    padding: 5px 15px;
}
.navbar .navbar-nav {
    .nav-item {
        .media:not(:last-child){
            margin-bottom: 1.5rem;
        }
        &:focus,
        .nav-link:focus {
            outline: none !important;
        }
    }
    .app-title{
        line-height: 35px;
        padding-right: 5px;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
    }
    .dropdown {
        .dropdown-menu {
            width: 100%;
            min-width: 270px;
            box-shadow: 0 6px 12px rgba($color: #000000, $alpha: 0.2);
            border: 1px solid #ccc;
            .absa-logo{
                height: 75px;
                display: block;
                margin: 0 auto;
            }
            .bot-info{
                padding: 12px;
            }
            .up-arrow {
                &:before,
                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    background: 0 0;
                    position: absolute;
                    z-index: 999;
                    display: block;
                }
                &:before {
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-bottom: 8px solid $border-light;
                    right: 5px;
                    top: -8px;
                }
                &:after {
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid #ffffff;
                    right: 6px;
                    top: -7px;
                }
            }
        }
        &:hover{
            .menu-bot-name{
                background-color:rgba(255, 255, 255, 0.5);
                border-radius: 4px;
            }
            .notification{
                background-color:rgba(255, 255, 255, 0.5);
                border-radius: 4px;
            }
        }
        .notification{
            color: #ffffff;
            padding: 12px;
            margin-right: 10px;
            position: relative;
            .notification-counter{
                position: absolute;
                right: 7px;
                top: 3px;
                padding: 2px 4px;
                font-size: 10px;
                font-weight: 700;
                background-color: red;
                border-radius: 50%;
                padding: 2px 4px;
                line-height: 1;
                color: #fff;
                text-align: center;
                white-space: nowrap;
            }
        }
        .menu-bot-name{
            padding: 5px 5px;
            color: #ffffff;
            span{
            font-size: 14px;
            background-color: #1b55be;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            font-weight: 600;
            }
        }    
        .dropdown-toggle::after{
            display: none;
        }
        .dropdown-item {
            font-size: 0.875rem;
            padding: 10px 12px;
            &.notification-message{
                width: 268px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-top: 1px solid #dee3e8;
            }
        }
    }
    .bot-list-dropdown{
        .bot-list-icon{
            color: #ffffff;
            text-align: center;
            vertical-align: middle;
            font-size: 14px;
            border: 1px solid rgba(230, 228, 228, 0.7);
            border-radius: 4px;
            padding: 3px 12px;  
            margin-left: 5px;
            position: relative;
        }
        &.show .bot-list-icon{
            &::after{
                content: "";
                width: 7px;
                height: 7px;
                position: absolute;
                border: 1px solid;
                transform: rotate(45deg);
                border-color: transparent #fff #fff transparent;
                background-color: $primary-color;
                bottom: -4px;
                left: 15px;
            }
        }
        .dropdown-menu{
            width: 100%;
            min-width: 200px;
            padding: 0;
            transition: 0.2s all linear;
            border: none;
            input[type=text]{
                font-size: 14px;
                padding: 0 5px;
                border-radius: 4px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                    border-color: #ced4da;
                }
            }
        }
        .dropdown-item{
            padding: 8px 15px;
        }
        &:hover{
            .bot-list-icon{
                border-color: #ffffff;
            }
        }
    }
    .dropdown-submenu {
        position: relative;
        .dropdown-menu {
            top: 0;
            left: calc(100% - 2px);
            margin-left: .1rem;
            margin-right: .1rem;
            opacity: 0;
            display: none;
        }
    }

}
