/** @format */

.app-main {
  .app-container {
    .app-layout-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      left: 0;
      float: right;
      // padding-top: 65px;
      transition: all 0.3s;
      width: calc(100% - #{$sidebar-menu-width});
    }
    .without-sidebar {
      width: 100%;
    }
    .app-layout {
      padding: 16px;
      // overflow: hidden;

      &.padd-0 {
        padding: 0;
      }
      &.plr-0 {
        padding-left: 0;
        padding-right: 0;
      }

      &.app-layout-grey {
        background-color: #f7f7f7;
      }
    }
    .app-layout-action-dd {
      padding: 16px;
      //   overflow: hidden;

      &.padd-0 {
        padding: 0;
      }

      &.app-layout-grey {
        background-color: #f7f7f7;
      }
      &.app-layout-white{
        background-color: #ffffff;
      }
    }
  }
  &.full-width {
    .app-header {
        padding-left: 200px;
    }
    .app-container {
      .app-layout-wrapper {
        width: calc(100% - #{$sidebar-full-width});
      }
    }
  }
  &.app-no-sidebar {
    .app-container {
      .app-layout-wrapper {
        width: 100%;
      }
    }
  }
  
}
@media screen and (min-width:767px) {
  .app-main {
    &.app-no-sidebar {
      .app-sidebar-nav   {
          display: none;
      }
    }
  }
}

.icon-status {
  i {
    padding-right: 5px;
    font-size: 18px;
  }
  &.s-inactive {
    color: $danger;
  }
  &.s-active {
    color: $success;
  }
  &.s-warning {
    color: $warning;
  }
}

.hide-scroll-y {
  overflow-y: hidden;
}
.face-emoji {
  display: table;
  width: 100%;
  .emoji-icon {
    display: table-cell;
    vertical-align: middle;
    width: 20px;
    img {
      width: 100%;
    }
  }
  .emoji-title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
  }
}
.platform-icon {
  .requester-info {
    display: block;
    text-align: center;
    .requester-icon {
      margin-right: 0;
    }
  }
}
.platform-list-img {
  width: 30px;
  margin: 0 auto;
  display: inline-block;
  img {
    width: 100%;
  }
}
.filter-btn-right {
  float: right;
  a {
    color: #716b6b;
  }
}
.dropdown-right-wrap {
  .dropdown-menu {
    right: 0;
    left: initial;
    top: 35px;
    &::after,
    &::before {
      content: "";
      width: 0;
      height: 0;
      background: 0 0;
      position: absolute;
      z-index: 999;
      display: block;
    }
    &:before {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 8px solid #d2d2d2;
      right: 8px;
      top: -8px;
    }
    &:after {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $white;
      right: 9px;
      top: -7px;
    }
  }
}
.documents-attached-info {
  .btn {
    padding: 3px 8px;
    border-radius: 4px;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    &.b-orange {
      background-color: $orange;
      border-color: $orange;
    }
    &.b-green {
      background-color: $theme_green;
      border-color: $theme_green;
    }
    &.b-red {
      background-color: $danger;
      border-color: $danger;
    }
    &.b-blue {
      background-color: #08cfc8;
      border-color: #08cfc8;
    }
    i {
      padding-left: 5px;
      font-size: 16px;
    }
  }
}
.bg-white {
  background-color: $white;
}
.usecase-button-wrap {
  button {
    // padding: 0 7px;
    // font-size: 12px;
    // font-weight: 600;
    // color: $white;
    // border-right: 1px solid $white;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 25px;
    font-weight: 600;
    color: $white;
    margin-right: 5px;
    margin-bottom: 5px;
    &:last-child {
      border-right: 0;
    }
    &.b-red {
      background-color: #fe3965;
      border-color: #fe3965;
    }
    &.b-green {
      background-color: #0ac383;
      border-color: #0ac383;
    }
    &.b-yellow {
      background-color: #ffbc3d;
      border-color: #ffbc3d;
    }
    &.b-dblue {
      background-color: #01aaad;
      border-color: #01aaad;
    }
    &.b-lblue {
      background-color: #68c8f8;
      border-color: #68c8f8;
    }
    &.b-dpurple {
      background-color: #c8016f;
      border-color: #c8016f;
    }
    &.b-lpurple {
      background-color: #ff5eb4;
      border-color: #ff5eb4;
    }
    &.b-mpurple {
      background-color: #adaaff;
      border-color: #adaaff;
    }
    &.b-dbrown {
      background-color: #e0c378;
      border-color: #e0c378;
    }
    &.b-orange {
      background-color: #ffb958;
      border-color: #ffb958;
    }
  }
}
.w-65 {
  width: 65%;
}
.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}
.w-35 {
  width: 35%;
}
.pagination-holder {
  .pagination {
    margin: 0;
  }
}