.modal{
    &.modal-sm{
        max-width: 295px;
        margin-left: 50%;
        transform: translate(-50%);
        top: 220px;
    }
    .modal-header{
        padding: 8px 15px;
    }
    .modal-title{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .modal-body{
        padding: 15px 15px;
        .btn{
            margin-top: 10px;
            float: right;
            min-width: 10px;
            font-size: 14px;
        }
    }
}