//Full-width menu

.full-width {
    .app-sidebar-nav {
        width: $sidebar-full-width;
        .app-logo {
            width: $sidebar-full-width;
        }
    }
    .app-navigation {
        .menu-item {
            .menu-link {
                width: $sidebar-full-width;
                .fi , .tk , .fa, .faIcons{
                    display: table-cell;
                    width: 40px;
                }
                .menu-title {
                    display: table-cell;
                     transition: 0.3s;
                     -webkit-transition: 0.3s;
                     -o-transition: 0.3s;
                     font-size: 12px;
                     text-align: left;
                     padding-left: 6px;
                }
            }
            .menu-link[data-toggle=collapse] {
                &::after {
                    display: block;
                    color:$darkgrey;
                }
                &:hover {
                    &::after {
                        color:var(--primary-color);
                    }
                }
            }
        }
        .collapsed-sub-menu.collapse.in  {
            display: block;
        }
        .collapsed-sub-menu {
            ul {
                position: relative;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 30px;
                li {
                    a {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: "";
                            top: 37%;
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                            background-color: #fff;
                            border: 2px solid #595c60;
                            left: -15px;
                        }
                    }
                    &.active {
                        a {
                            font-weight: 700;
                            color:var(--primary-color);
                            &::after {
                                border-color:var(--primary-color);
                            }
                        }
                    } 
                }
                &::after {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 100%;
                    top:0;
                    left: 19.5px;
                    z-index: -1;
                    background-color: #ddd;
                }
            }
        }
    }
}
.app-sidebar-nav {
    // background-color:$bg-grey;
    background-color: #fff;
    width: $sidebar-menu-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    margin-top: 0;
    float: left;
    transition: all 0.3s;
    border-right:1px solid $border-grey;
    .app-logo {
        .logo-link {
            display: block;
            width: 65px;
            margin: 0 auto;
            padding: 10px;
            img {
                width: 100%;
            }
            &:hover , &:focus {
                background-color: transparent;
            }
        }
    }
    .bot-name {
        text-align: center;
        display: block;
        font-size: 12px;
        border-bottom: 1px solid rgba($lColor, 0.5);
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 700;
        background-color: rgba($lColor, 0.5);
    }
}
.app-navigation {
    .navigation-scrollable {
        padding-bottom: 15px;
            width: 68px !important;
            height: 100vh !important;
    }
    .menu {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        li{
            &.open {
                > a, > a:hover, > a:focus {
                    background-color: transparent;
                    .menu-title , .fa ,.fi, .tk, .faIcons{
                        color: var(--primary-color);
                    }
                   
                }
                .iconbar-submenu {
                    display: block;
                    margin-left: 0;
                    transition: all 0.3s ease;
                }
            }
        }
    }
    .menu-item {
        .menu-link {
            width: $sidebar-menu-width;
            display: table;
            padding: 10px 2px;            
            height: 55px;
            vertical-align: middle;
            font-size: 24px;
            
            &:hover , &:focus{
                text-decoration: none;
                background-color: transparent;
                .menu-title , .fa , .fi, .tk, .faIcons {
                    color: var(--primary-color);
                }
            }
          
           
            &:focus {
                outline: 0 none;
            }
            .fi, .tk, .fa, .faIcons {
                display: block;
                width: 100%;
                font-size: inherit;
                text-align: center;
                color:$darkgrey;
            }
            .menu-title {
                font-size: 10px;
                text-align: center;
                color: $darkgrey;
                margin-top: 5px;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                //width:calc(100% - 40px);
                vertical-align: middle;
                display: block;
            }
           
        }
        .menu-link[data-toggle=collapse] {
            &::after {
                content: "\f105";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                position: absolute;
                right: 10px;
                font-size: 15px;
                top: 20px;
                transition: all .15s ease;
                display: none;
            }
        }
        .menu-link[data-toggle=collapse][aria-expanded=true] {
            &::after {
                transform: rotate(90deg);
                color:var(--primary-color);
            }
        }
        &.dropdown {
            &.open {
                > a {
                    background-color: rgba(0,0,0,0.2);
                    color: $white;
                }
            }
        &.app-sub--menu-active {
            > .menu-link {
                text-decoration: none;
                background-color: rgba(0,0,0,0.2);
                color: $white;
            }
            .dropdown-menu {
                display: block;
            }
        }
        .dropdown-menu {
            position: relative;
            top: 0;
            background-color: transparent;
            border-radius: 4px;
            -webkit-box-shadow: none;
            box-shadow: none;
            min-width: 50px;
            border: 0;
            padding: 5px;
            // border-bottom: 1px solid $white;
            .up-arrow {
                text-align: center;
                line-height: normal;
                color: $white;
                transition: animation .3s cubic-bezier(.21,.56,1,-0.01);
                animation: anime-up .6s infinite;
            }
            .menu-table {
                display: table;
                width: 50px;
                // &.app-menu-active {
                //     > .menu-link {
                //         color: $white;
                //     }
                // }
                .menu-link {
                    width: 50px;
                    height: 50px;
                    background-color: rgba(0,0,0,0.2);
                    font-size: 22px;

                }
            }
        }
        }
        &.app-menu-active {
            > .menu-link {
                text-decoration: none;
                background-color: var(--primary-color-shade);
                .menu-title , .fa ,.fi, .tk{
                    color: var(--primary-color);
                }
               
                .menu-title {
                    font-weight: 700;
                }
            }

        }
        &.has-submenu-item {
            ul {
                list-style-type: none;
                li {
                    a {
                        padding: 8px;
                        display: block;
                        color: $darkgrey;
                        font-size: 12px;
                        &:focus , &:hover , &:active {
                            color:var(--primary-color);
                            font-weight: 700;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .iconbar-submenu {
        position: fixed;
        // top: 57px;
        left: 68px;
        width: 210px;
        margin-left: -325px;
        // background-color:var(--primary-color);
        background-color: #f5f4f7;
        -webkit-box-shadow: 0 16px 15px 6px rgba(126,55,216,0.03);
        box-shadow: 0 16px 15px 6px rgba(126,55,216,0.03);
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        display: block;
        z-index: -1;
        border-right: 1px solid #e9eaec;

        ul {
            list-style: none;
            padding-left: 0;
        }
        li {
            a {
                // color: #fff;
                color: #333;
                padding: 12px;
                display: block;
                font-weight: 600;
                text-decoration: none;
                &:hover {
                    // color:var(--primary-color);
                    color: rgba(51,51,51,.7);
                }
            }
        }
    }
    .collapsed-sub-menu.collapse.in  {
        display: none;
    }   
}
@keyframes anime-up {
    from {
        transform: translateY(-4px);
        opacity: 1;
    }
    to {
        transform: translateY(0);
        opacity: 0;
    }
}
.alert-publish {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 0;
    border:0;
    background-color: #e7f4e4;
    // border-left: 8px solid #2e8540;
    color: #212121;    
    margin: 0;
    padding: 10px;
    text-align: center;
    padding-right: 35px;

    .alertPublishWrap {
        .pgroup-text, .publish-group-link {
            display: inline-block;
        }

        .pgroup-text {
            font-size: 15px;
            margin-right: 10px;
        }

        .publish-group-link {
            a {
                font-size: 15px;
                color:var(--primary-color);
                font-weight: 600;
                text-decoration: none;
            }            
        }
    }

    .close {
        font-size: 25px;
        color: #212121;
        opacity: 0.5;    
    }
}
.has-publish-alert {
    .app-sidebar-nav {
        top: 45px;
        margin-top: 0;
        height: 100vh;
    }

    .app-header {
        top: 45px;
    }

    .app-main .app-container .app-layout-wrapper {
        padding-top: 102px;        
    }

    .filter-fixed {
        top: 45px;
    }

    .missedIntent-section {
        .content {
            height: calc(100vh - 102px);
        }
    }

    #appMissedIntent .card-filter {
        height: calc(100vh - 102px);
    }
}
.publishAlertRight {
    padding: 10px 0;
    border-top: 1px solid #e9eaec;
    border-bottom: 1px solid #e9eaec;
    position: relative;
    padding-right: 100px;

    .publishAlertText {
        float: left;
        margin: 0 15px;
    }

    .publishAlertLink {        
        position: absolute;
        right: 10px;
        font-weight: 600;
        
        a {
            color:var(--primary-color);
        }
    }
}