.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .App-link {
    color: #61dafb;
  }
  $sb: 600;
  $l:300;
  $r: 400;
  $b: 700;
  $border-primary:#2a6de5;
  $base-font: 'Open Sans', sans-serif;
  /** @format */
  /** @format */
.home{
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.app-auth {
  .auth-logo-ring {
    position: fixed;
    z-index: 1;
    top: 34px;
    left: -28px;
    img {
      width: 48px;
    }
  }
  .auth-layout {
    width: 92%;
    position: relative;
    margin: 0 auto;
    > section {
      display: table;
      width: 360px;
      figure,
      .form-wrapper {
        margin-top: 150px
      }
      .form-content {
        width: 450px;
        padding: 60px;
        padding-left: 0;
        padding-right: 0;
        min-height: 100%;
      }
    }
  }
  figure {
    padding-right: 60px;
    .imgHolder {
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 100%;
      display: block;
      margin: 0 auto;
      height: 80%;
      width: 80% !important;
    }
    @media (max-width: 768px) {
      display: none !important;
    }
  }
  .form-body {
    background-color: #ffffff;
    .auth-bg-white {
      position: fixed;
      // background-color: #170d5b;
      background-image: url('../../images/login_bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  .form-label {
    font-size: 16px;
    font-weight:500;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .input-floatable {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0;
    font-weight: $r;
    span.hr {
      position: absolute;
      background-color: white;
      height: 1px;
      width: 0;
      left: 0;
      bottom: 0;
      transition: width 0.5s ease;
    }
    .form-control {
      display: block;
      width: 100%;
      height: auto;
      //   padding-left: 44px;
      min-height: 55px;
      transition: all 0.3s ease;
      // border-radius: 0;
      border-width: 0;
      background-color: #ffffff;
      border-radius: 10px;
      
      &:focus,
      &:not(:placeholder-shown) {
        padding-top: 30px;
        color: #000;
        background-color: #ffffff;
        border-radius: 10px;
        font-size:18px;
        font-weight: 500;
        + .input-label {
          top: 0;
          -webkit-transform: translateY(9px);
          transform: translateY(9px);
          opacity: 1;
          // color: ;
          color: rgba(0, 0, 0, 0.8);
          font-size: 12px;
          font-weight: 500;
          left: 15px;
        }
        &::-webkit-input-placeholder {opacity:0;}
        &::-moz-placeholder {opacity:0; } /* firefox 19+ */
        &:-ms-input-placeholder { opacity:0; } 
      }
      &:focus {
        ~ span.hr {
          width: 100%;
        }
      }
    }
    .input-label,
    .wc-li {
      position: absolute;
    }
    .input-label {
      top: 50%;
      // left: 12px;
      opacity: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: all 0.3s ease;
      font-weight: 500;
    }
    .wc-li,
    .wc-ri {
      width: 44px;
      text-align: center;
      position: absolute;
      font-size: 18px;
      opacity: 0.4;
    }
    .wc-li {
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .wc-ri {
      color: white;
      height: 55px;
      top: 0;
      right: 0;
      line-height: 55px;
      z-index: 1;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &.active {
        opacity: 1;
      }
    }
  }
  .website-logo {
    display: inline-block;
    // position: absolute;
    z-index: 1000;
    margin-bottom: 75px;
    // top: 20px;
    // left: 10px;
    // right: initial;
    // bottom: initial;
    // img {
    //   width: 123px;
    // }
    a {
      display: inline-block;
    }
  }
  .powered-logo {
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 1000;
    span {
      font-size: 12px;
      color: #000;
    }
    img {
      vertical-align: top;
    }
  }

  .form-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 637px;
    width: 360px;
    max-width: 360px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    h2 {
      font-weight: $sb;
      line-height: normal;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      font-weight: $l;
      margin-bottom: 30px;
    }
    .page-links {
      margin-bottom: 34px;
      a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-weight: $l;
        font-size: 15px;
        margin-right: 20px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          left: 0;
          bottom: -10px;
          background-color: rgba(222, 222, 222, 0.7);
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        &:hover {
          &:after {
            background-color: $border-primary;
          }
        }
        &.active {
          font-weight: 700;
          &:after {
            background-color: $border-primary;
          }
        }
      }
    }
  }
  .form-control {
    border: 1px solid rgba(0, 149, 255, 0);
    background-color: #ffffff;
    color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 6px 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 40px;
    border-radius: 10px;
    &:hover,
    &:focus {
      // @include box-shadow(0, 0, 0, transparent);
      background-color: #ffffff;
      //   border-color: $border-primary;
    }
    &::-webkit-input-placeholder {font-size: 14px; }
    &::-moz-placeholder {font-size: 14px; } /* firefox 19+ */
    &:-ms-input-placeholder { font-size: 14px; } 
  }
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
  .form-button {
    margin-top: 30px;
    margin-bottom: 25px;
    #proceedBtn,
    #btnSignIn,
    #btnForgotPass {
      background-color: #f05920;
      border-color: #f05920;
      border-radius: 5px;
    }
    .arrow-icon {
      svg {
        width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-left: 10px;
      path {
        fill:#ffffff;
      }
      }
    }
    a {
      color: #ffff;
      font-weight: $r;
      opacity: 0.6;
      &:focus {
        text-decoration: none;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .other-links {
    font-size: 12px;
    font-weight: $l;
    span {
      display: block;
      margin-bottom: 25px;
    }
    .back-links {
      display: inline-block;
      margin-top: 25px;
      opacity: 0.5;
      .fa {
        position: relative;
        margin-right: 10px;
        transition: animation 0.3s cubic-bezier(0.21, 0.56, 1, -0.01);
        -webkit-animation: ltr-anime 0.6s infinite; /* Safari 4+ */
        -moz-animation: ltr-anime 0.6s infinite; /* Fx 5+ */
        -o-animation: ltr-anime 0.6s infinite; /* Opera 12+ */
        animation: ltr-anime 0.6s infinite; /* IE 10+, Fx 29+ */
      }
      &:hover {
        opacity: 0.8;
      }
    }
    @-webkit-keyframes ltr-anime {
      0% {
        left: 5px;
      }
      100% {
        left: 0;
      }
    }
    @-moz-keyframes ltr-anime {
      0% {
        left: 5px;
      }
      100% {
        left: 0;
      }
    }
    @-o-keyframes ltr-anime {
      0% {
        left: 5px;
      }
      100% {
        left: 0;
      }
    }
    @keyframes ltr-anime {
      0% {
        left: 5px;
      }
      100% {
        left: 0;
      }
    }
  }
  .btn {
    padding: 10px 15px;
    font-weight: $b;
    // @include box-shadow(1px, 2px, 2px, rgba(0, 0, 0, 0.12));
  }
  .facebook-button {
    background-color: #ffffff;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 4px 16px 0 rgba(49, 81, 159, 0.16);
    color: #32529f;
    cursor: pointer;
    font-family: $base-font;
    font-size: 18px;
    font-weight: $r;
    letter-spacing: 0.3px;
    margin: 0 auto;
    min-height: 40px;
    min-width: 280px;
    outline: 0;
    overflow: hidden;
    padding: 10px 23px 10px 75px;
    position: relative;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    &:hover {
      color: #ffffff;
      &:before {
        width: 600px;
        height: 600px;
      }
    }
    &:before {
      background-color: #32529f;
      border-radius: 100%;
      content: "";
      display: block;
      height: 224px;
      left: -173px;
      position: absolute;
      top: -87px;
      transition: all 0.3s ease-in-out 0.1s;
      width: 224px;
      z-index: -1;
    }
    &:after {
      content: "\f09a";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      height: 20px;
      width: 10px;
      left: 20px;
      top: 50%;
      margin-top: -10px;
      z-index: 1;
      color: #ffffff;
    }
  }
  @media (max-width: 992px) {
    .website-logo {
      left: 30px;
    }
    .img-holder,
    .auth-layout > figure,
    .auth-logo-ring {
      display: none;
    }
    .auth-layout {
      margin-left: 0;
      .form-layout {
        padding: 125px 30px 60px;
      }
    }
  }
}

.error-text {
  color: red;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  &.error-hidden{
    display: none;
  }
}

  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  