.bot-wrap {
    a{
        text-decoration: none;
    }
    .dropdown-toggle::after{
        display: none;
    }
    .botslist-type {
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(36, 37, 38, .08);
        cursor: pointer;
        float: left;
        min-height: 200px;
        overflow: hidden;
        padding: 20px;
        position: relative;
        text-align: center;
        transition: box-shadow .25s ease, transform .25s ease;
        width: 100%;
        // height: 340px;
        margin-bottom: 25px;
        .bot-name-wrap {
            width: 60px;
            height: 60px;
            line-height: 60px;
            margin: 0 auto;
            background-color: #ffffff;
            border: 1.5px solid $input-border;
            border-radius: 60px;
            text-align: center;
            .bot-name {
                font-weight: 700;
            }
        }
        .bot-channel-list {
            margin-top: 15px;
            padding: 10px 0 0;
            border-top: 1px dashed $border;
            display: table;
            width: 100%;
            .b-channetitem {
                margin: 0 4px 5px;
                width: calc(20% - 8px);
                float: left;
                .channel-item {
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    border: 1px solid $border;
                    padding: 2px;
                    position: relative;
                    text-align: center;
                    i {
                        font-size: 18px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .value {
                        font-size: 12px;
                        font-weight: 600;
                        height: 24px;
                        line-height: 24px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 30px;
                    }
                }
            }
        }
        p {
            margin-bottom: 0px;
        }
        .botslist-title {
            margin-top: 20px;
            margin-bottom: 5px;
            text-transform: uppercase;
            color: $bluegrey;
            font-size: 16px;
            font-weight: $sb;
            white-space: nowrap;
            text-overflow: ellipsis;
            // overflow: hidden;
            .notification-w {
                position: relative;
                .fa-bell {
                    font-size: 13px;
                }
                .badge {
                    position: absolute;
                    top: -2px;
                    right: -5px;
                    padding: 2px 4px;
                    border-radius: 10px;
                    background-color: $danger;
                    color: #fff;
                    font-size: 9px;
                }
            }
        }
        .botslist-desc {
            padding-top: 5px;
            line-height: 1.25;
            font-size: 12px;
            color: $bluegrey;
        }
        .botslist-detail {
            font-weight: $d;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -60px;
            padding: 10px 20px 20px;
            z-index: 10;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 601;
            transition: .3s;
            height: 45px;
            color: $primary-color;
        }
        &:hover {
            box-shadow: 5px 12px 20px rgba(36, 37, 38, .13);
            .bot-name-wrap {
                background-color: $primary-color;
                border: 1.5px solid $primary-color;
                color: #ffffff;
            }
        }
        &:focus {
            text-decoration: none;
        }
        .bot-create {
            .botslist-title {
                line-height: normal;
                white-space: normal;
                overflow: initial;
            }
        }
    }
}

.botslist-type {
    position: relative;
    .dropdown{
        text-align: right;
    }
    .dropdown-toggle {
         padding: 1px 10px;
         transition: 0.1s all linear;
         &:hover{
             box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.1);
         }
        .fa {
            font-size: 18px;
        }
    }
    .dropdown-menu {
        max-width: 120px;
        min-width: 120px;
        top: 22px;
        right: 0;
        left: initial;
        padding: 0;
        box-shadow: 0 6px 12px rgba($color: #000000, $alpha: 0.2);
        .dropdown-item {
            border-bottom: 1px solid $border-light;
            font-size: 14px;
            padding: 5px 12px;
            &:last-child {
                border-bottom: 0;
            }
            .dropdown-link {
                &.disabled {
                    cursor: not-allowed;
                }
            }
            &:hover{
                >.up-arrow{
                    &:after {
                        border-bottom: 1px solid gray;
                    }
                }
            }
        }
        .up-arrow {
            &:before,
            &:after {
                content: "";
                width: 0;
                height: 0;
                background: 0 0;
                position: absolute;
                z-index: 999;
                display: block;
            }
            &:before {
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 8px solid $border-light;
                right: 5px;
                top: -8px;
            }
            &:after {
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #ffffff;
                right: 6px;
                top: -7px;
            }
        }
    }
}