.custom-absa{
    .row{
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
    .setting-thumbs {
        text-align: center;
        margin: 8px;
        background: $white;
        border-radius: 5px;
        min-height: 150px;
        cursor: pointer;
        box-shadow: 0 2px 2px rgba(36,37,38,.08);
        transition: box-shadow .25s ease,transform .25s ease;

        &.card-only-title {
            min-height: 58px;
            width: 162px;
            .setting-thumb-types {
                padding: 15px;

                .setting-type-title {
                    padding-top: 0;
                    margin-bottom: 0;

                    &.pt-8 {
                        padding-top: 8px;
                    }
                }
            }    
        }
        .setting-thumb-types {
            padding-top: 18px;
            .setting-type-title{
                color: $bluegrey;
                font-size: 11px;
                padding-top: 16px;
                line-height: 1.3;
                text-transform: uppercase;
                word-wrap: break-word;
            }
            .setting-type-img {
                -webkit-transition-duration: .3s;
                transition-duration: .3s;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
            }
        }
        &:hover {
            box-shadow: 5px 12px 20px rgba(36,37,38,.13);
            font-weight: $d;
            .setting-type-img {
                -webkit-transform: scale(1.1) rotate(10deg);
                transform: scale(1.1) rotate(4deg);
            }
        }
    }
}

img.setting-type-img {
    width: 65px;
    height: 65px;
}

.download-dms {
    tr {
        td {
            i {
                cursor: pointer;
            }
        }
    }
}


.token-card-main {
    margin: 4px;
    // border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(36,37,38,.09);

    .card-header {
        padding: 6px 10px;
        background-color: $theme-absa;
        color: $white;
        border-bottom: 1px solid $theme-absa;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .card-title {
            font-weight: 600;
            margin: 4px 0;

            .card-rating {
                color: #FEC106;
            }
        }

        .form-switch {
            margin: 0;
            .switch-icon {
                vertical-align: middle;
            }
        }
    }

    .card-body {
        padding: 10px 10px;
        background-color: $white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .row {
            margin-right: -10px;
            margin-left: -10px;

            &.mb-10 {
                margin-bottom: 10px;
            }

            div[class*="col-"] {
                padding-right: 10px;
                padding-left: 10px;
            }            
        }

        .token-card {
            background-color: $white;
            box-shadow: 0 0 6px 2px rgba(36,37,38,.09);
            text-align: center;
            padding: 5px;
            color: $theme-absa;

            .token-count {
                font-size: 45px;
                font-weight: 800;
                line-height: 1;
            }
        }
        
        .token-detailers-wrap {
            .token-detailer-title {
                margin-top: 5px;
                font-weight: 600;
                line-height: 1.3;
                margin-bottom: 7px;
            }

            .account-name {
                font-size: 16px;
                margin-bottom: 5px;
            }
        }

        .text-area-comments {
            border-color: #e9eaec;
            min-height: 95px;
        }

        .btn-group-token {
            margin-top: 12px;

            .btn {
                width: 31.6%;
                font-size: 16px;
                font-weight: 600;
                border-radius: 6px;
                padding: 8px 12px;
                margin: 0 3px;
                &.btn-no-show {
                    background-color: #FFAD00;
                    border-color: #FFAD00;
                    color: $white;
                }

                &.btn-hold {
                    background-color: #F27437;
                    border-color: #F27437;
                    color: $white;
                }

                &.btn-done {
                    background-color: #35B715;
                    border-color: #35B715;
                    color: $white;
                }
            }
        }

        .upcoming-tokens-wrap {
            margin-top: 10px;
            .upcoming-token-cards-wrap {
                margin-top: 10px;
                .upcoming-token-card {
                    // width: 18%;
                    width: 100%;
                    display: inline-block;
                    background-color: #e4fcdb;
                    // box-shadow: 0 0 5px 2px rgba(36,37,38,.09);
                    text-align: center;
                    padding: 6px 12px;
                    border-radius: 5px;
                    margin: 0 2px;

                    .upcoming-token-no {
                        font-size: 33px;
                        font-weight: 800;
                        line-height: 1.3;
                        color: #747474;
                    }

                    .upcoming-token-time {
                        font-size: 10px;
                        font-weight: 600;
                        color: #747474;
                    }
                }
            }

            .pre-loader-upcoming-token {
                position: absolute;
            }
        }

        .currentTokenWrap {
            position: relative;
            .pre-loader-currentToken {
                position: absolute;
            }
        }
    }    
}

// Deepdrive Scss - Joseph
.average-waitTime-count {
    .count {
        .count-number {
            font-size: 45px;
            font-weight: 700;
        }
    }

    .total-users {
        text-align: center;
    }
}


.no-record-token-window {
    margin: 25px 0;

    .graphic-holder {
        max-width: 200px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .no-record-text {
        text-align: center;
        font-weight: 600;
        margin-top: 15px;
        font-size: 16px;
    }
}


.no-record-upcoming-token {
    margin: 30px 0;
    .no-record-text {
        text-align: center;
        font-weight: 600;
        margin-top: 15px;
        font-size: 16px;
    }
}

.main-content-upcoming-token {
    position: relative;

    
    .upcoming-token-card {
        width: 100% !important;                                                
        padding: 6px 12px !important;        
    }

    .owl-carousel.owl-loaded {
        padding-left: 30px;
        padding-right: 30px;
    }

    .owl-carousel.owl-drag .owl-item {
        // width: 66px !important;
        // overflow: hidden;
    }

    .owl-theme {
        
        .custom-nav {
            position: absolute;
            // top: 20%;
            top: 0%;
            left: 0;
            right: 0;

            .owl-prev, .owl-next {
                position: absolute;
                height: auto;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;

                i {
                    font-size: 2.5rem;
                    color: #cecece;
                }
            }

            .owl-prev {
                left: -5px;
            }

            .owl-next {
                right: -5px;
            }
        }
    }
}

.custom-iframe-holder {
    iframe {
        min-height: calc(100vh - 66px);
        width: 100%;
        border: 0;
    }
}
