#appDashboard {
    .usage-stats-wizard {
        .row {
            margin-left: -8px;
            margin-right: -8px;
            > div[class*="col-"] {
                padding-left: 8px;
                padding-right: 8px;
            }
        }

        .card {
            color: $white;
            margin-bottom: 16px;
            border: none;
            .stats-info-box {
                position: relative;
                height: 100%;
                padding-bottom: 150px;
            }
            .stats-title {
                font-size: 20px;
                margin-bottom: 5px;
            }
            .stats-count {
                font-size: 30px;
                font-weight: $b;
            }

            .stats-title,
            .stats-count,
            .stats-percent {
                display: block;
                margin-bottom: 5px;
                line-height: normal;
            }
            .stats-percent {
                font-size: 20px;
                margin-bottom: 0;
            }
            .top-info {
                position: relative;
            }
            .top-info {
                padding: 10px;
                padding-right: 86px;
                width: 100%;
            }
            .bottom-info.info {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
            .percent-chart {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
                .percentage {
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    font-size: 15px;
                    font-weight: $b;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .persent-syb {
                        font-size: 12px;
                        margin-left: 2px;
                    }
                }
                canvas {
                    background-color: transparent;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .CircularProgressbar {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .stats-percent-pie {
                position: absolute;
                top: 50%;
                right: 12px;
                width: 68px;
                height: 68px;
                margin-top: -34px;
            }
            &.click-stats {
                background-color: #fe3965;
    background-image: -moz-linear-gradient(left, #fe3965 0%, #feb697 100%);
    background-image: -webkit-gradient(left top, right top, color-stop(0%, #fe3965), color-stop(100%, #feb697));
    background-image: -webkit-linear-gradient(left, #fe3965 0%, #feb697 100%);
    background-image: -o-linear-gradient(left, #fe3965 0%, #feb697 100%);
    background-image: -ms-linear-gradient(left, #fe3965 0%, #feb697 100%);
    background-image: linear-gradient(to right, #fe3965 0%, #feb697 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3965', endColorstr='#feb697', GradientType=1);

            }
            &.guest-stats {
                background-color: rgba(10, 195, 131, 1);
                background-image: -moz-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(10, 195, 131, 1)), color-stop(100%, rgba(13, 242, 162, 1)));
                background-image: -webkit-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                background-image: -o-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                background-image: -ms-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                background-image: linear-gradient(to right, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ac383', endColorstr='#0df2a2', GradientType=1);
            }
            &.members-stats {
                background: rgba(254, 94, 113, 1);
                background: -moz-linear-gradient(left, rgba(200, 1, 111,1) 0%, rgba(254, 143, 156, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(200, 1, 111,1)), color-stop(100%, rgba(254, 143, 156, 1)));
                background: -webkit-linear-gradient(left, rgba(200, 1, 111,1) 0%, rgba(254, 143, 156, 1) 100%);
                background: -o-linear-gradient(left, rgba(200, 1, 111,1)0%, rgba(254, 143, 156, 1) 100%);
                background: -ms-linear-gradient(left, rgba(200, 1, 111,1) 0%, rgba(254, 143, 156, 1) 100%);
                background: linear-gradient(to right, rgba(200, 1, 111,1) 0%, rgba(254, 143, 156, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5e71', endColorstr='#fe8f9c', GradientType=1);
            }
            &.activeUsers-stats {
                background: rgba(1, 170, 173, 1);
                background: -moz-linear-gradient(left, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1, 170, 173, 1)), color-stop(100%, rgba(1, 218, 222, 1)));
                background: -webkit-linear-gradient(left, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                background: -o-linear-gradient(left, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                background: -ms-linear-gradient(left, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                background: linear-gradient(to right, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01aaad', endColorstr='#01dade', GradientType=1);
            }
            &.notSubscribed-stats {
                background: rgba(255, 94, 180, 1);
                background: -moz-linear-gradient(left, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 94, 180, 1)), color-stop(100%, rgba(255, 158, 211, 1)));
                background: -webkit-linear-gradient(left, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                background: -o-linear-gradient(left, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                background: -ms-linear-gradient(left, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                background: linear-gradient(to right, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5eb4', endColorstr='#ff9ed3', GradientType=1);
            }
            &.subscribed-stats {
                background: rgba(255, 188, 61, 1);
                background: -moz-linear-gradient(left, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 188, 61, 1)), color-stop(100%, rgba(255, 212, 133, 1)));
                background: -webkit-linear-gradient(left, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                background: -o-linear-gradient(left, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                background: -ms-linear-gradient(left, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                background: linear-gradient(to right, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc3d', endColorstr='#ffd485', GradientType=1);
            }
            &.unSubscribed-stats {
                background: rgba(105, 230, 104, 1);
                background: -moz-linear-gradient(left, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(105, 230, 104, 1)), color-stop(100%, rgba(168, 213, 169, 1)));
                background: -webkit-linear-gradient(left, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                background: -o-linear-gradient(left, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                background: -ms-linear-gradient(left, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                background: linear-gradient(to right, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69e668', endColorstr='#a8d5a9', GradientType=1);
            }
            &.reSubscribed-stats {
                background: rgba(0, 230, 254, 1);
                background: -moz-linear-gradient(left, rgba(0, 230, 254, 1) 0%, rgba(151, 243, 254, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 230, 254, 1)), color-stop(100%, rgba(151, 243, 254, 1)));
                background: -webkit-linear-gradient(left, rgba(0, 230, 254, 1) 0%, rgba(151, 243, 254, 1) 100%);
                background: -o-linear-gradient(left, rgba(0, 230, 254, 1) 0%, rgba(151, 243, 254, 1) 100%);
                background: -ms-linear-gradient(left, rgba(0, 230, 254, 1) 0%, rgba(151, 243, 254, 1) 100%);
                background: linear-gradient(to right, rgba(0, 230, 254, 1) 0%, rgba(151, 243, 254, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6fe', endColorstr='#97f3fe', GradientType=1);
            }
            &.stockQuotes-stats {
                background: rgba(104, 200, 248, 1);
                background: -moz-linear-gradient(left, rgba(104, 200, 248, 1) 0%, rgba(152, 211, 240, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(104, 200, 248, 1)), color-stop(100%, rgba(152, 211, 240, 1)));
                background: -webkit-linear-gradient(left, rgba(104, 200, 248, 1) 0%, rgba(152, 211, 240, 1) 100%);
                background: -o-linear-gradient(left, rgba(104, 200, 248, 1) 0%, rgba(152, 211, 240, 1) 100%);
                background: -ms-linear-gradient(left, rgba(104, 200, 248, 1) 0%, rgba(152, 211, 240, 1) 100%);
                background: linear-gradient(to right, rgba(104, 200, 248, 1) 0%, rgba(152, 211, 240, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c8f8', endColorstr='#98d3f0', GradientType=1);
            }
            &.portfolio-stats {
                background: rgba(251, 169, 151, 1);
                background: -moz-linear-gradient(left, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251, 169, 151, 1)), color-stop(100%, rgba(244, 194, 158, 1)));
                background: -webkit-linear-gradient(left, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                background: -o-linear-gradient(left, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                background: -ms-linear-gradient(left, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                background: linear-gradient(to right, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba997', endColorstr='#f4c29e', GradientType=1);
            }
            &.welcome-stats {
                background: rgba(173, 170, 255, 1);
                background: -moz-linear-gradient(left, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(173, 170, 255, 1)), color-stop(100%, rgba(192, 184, 248, 1)));
                background: -webkit-linear-gradient(left, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                background: -o-linear-gradient(left, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                background: -ms-linear-gradient(left, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                background: linear-gradient(to right, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adaaff', endColorstr='#c0b8f8', GradientType=1);
            }
            &.menu-stats {
                background: rgba(249, 217, 9, 1);
                background: -moz-linear-gradient(left, rgba(249, 217, 9, 1) 0%, rgba(237, 222, 109, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249, 217, 9, 1)), color-stop(100%, rgba(237, 222, 109, 1)));
                background: -webkit-linear-gradient(left, rgba(249, 217, 9, 1) 0%, rgba(237, 222, 109, 1) 100%);
                background: -o-linear-gradient(left, rgba(249, 217, 9, 1) 0%, rgba(237, 222, 109, 1) 100%);
                background: -ms-linear-gradient(left, rgba(249, 217, 9, 1) 0%, rgba(237, 222, 109, 1) 100%);
                background: linear-gradient(to right, rgba(249, 217, 9, 1) 0%, rgba(237, 222, 109, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d909', endColorstr='#edde6d', GradientType=1);
            }
            &.markets-stats {
                background: rgba(255, 127, 125, 1);
                background: -moz-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 127, 125, 1)), color-stop(100%, rgba(255, 191, 190, 1)));
                background: -webkit-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                background: -o-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                background: -ms-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                background: linear-gradient(to right, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f7d', endColorstr='#ffbfbe', GradientType=1);
            }
            &.research-stats {
                background: rgba(255, 185, 88, 1);
                background: -moz-linear-gradient(left, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 185, 88, 1)), color-stop(100%, rgba(248, 213, 160, 1)));
                background: -webkit-linear-gradient(left, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                background: -o-linear-gradient(left, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                background: -ms-linear-gradient(left, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                background: linear-gradient(to right, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb958', endColorstr='#f8d5a0', GradientType=1);
            }
            &.news-stats {
                background: rgba(224, 195, 120, 1);
                background: -moz-linear-gradient(left, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224, 195, 120, 1)), color-stop(100%, rgba(241, 225, 174, 1)));
                background: -webkit-linear-gradient(left, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                background: -o-linear-gradient(left, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                background: -ms-linear-gradient(left, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                background: linear-gradient(to right, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0c378', endColorstr='#f1e1ae', GradientType=1);
            }
            &.faqsAnswered-stats {
                background: rgba(242, 181, 219, 1);
                background: -moz-linear-gradient(left, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 181, 219, 1)), color-stop(100%, rgba(248, 198, 223, 1)));
                background: -webkit-linear-gradient(left, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                background: -o-linear-gradient(left, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                background: -ms-linear-gradient(left, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                background: linear-gradient(to right, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b5db', endColorstr='#f8c6df', GradientType=1);
            }
            &.faqsUnanswered-stats {
                background: rgba(255, 193, 7, 1);
                background: -moz-linear-gradient(left, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 193, 7, 1)), color-stop(100%, rgba(255, 228, 147, 1)));
                background: -webkit-linear-gradient(left, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                background: -o-linear-gradient(left, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                background: -ms-linear-gradient(left, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                background: linear-gradient(to right, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3965', endColorstr='#feb697', GradientType=1);
            }
            &.pos-stats {
                background: rgba(10, 195, 131, 1);
                background: -moz-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10, 195, 131, 1)), color-stop(100%, rgba(13, 242, 162, 1)));
                background: -webkit-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                background: -o-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                background: -ms-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                background: linear-gradient(to right, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ac383', endColorstr='#0df2a2', GradientType=1);
            }
            &.neg-stats {
                background: rgba(254, 94, 113, 1);
                background: -moz-linear-gradient(left, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254, 94, 113, 1)), color-stop(100%, rgba(254, 143, 156, 1)));
                background: -webkit-linear-gradient(left, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                background: -o-linear-gradient(left, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                background: -ms-linear-gradient(left, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                background: linear-gradient(to right, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5e71', endColorstr='#fe8f9c', GradientType=1);
            }
            &.neutral-stats {
                background: rgba(255, 193, 7, 1);
                background: -moz-linear-gradient(left, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 193, 7, 1)), color-stop(100%, rgba(255, 228, 147, 1)));
                background: -webkit-linear-gradient(left, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                background: -o-linear-gradient(left, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                background: -ms-linear-gradient(left, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                background: linear-gradient(to right, rgba(255, 193, 7, 1) 0%, rgba(255, 228, 147, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3965', endColorstr='#feb697', GradientType=1);
            }
        }
    }
    #divUseCase {
        > div[class*="col-"] {
            &:nth-child(1) {
                .stats {
                    background: rgba(255, 127, 125, 1);
                    background: -moz-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 127, 125, 1)), color-stop(100%, rgba(255, 191, 190, 1)));
                    background: -webkit-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    background: -o-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    background: linear-gradient(to right, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f7d', endColorstr='#ffbfbe', GradientType=1);
                }
            }
            &:nth-child(2) {
                .stats {
                    background: rgba(255, 185, 88, 1);
                    background: -moz-linear-gradient(left, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 185, 88, 1)), color-stop(100%, rgba(248, 213, 160, 1)));
                    background: -webkit-linear-gradient(left, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                    background: -o-linear-gradient(left, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                    background: linear-gradient(to right, rgba(255, 185, 88, 1) 0%, rgba(248, 213, 160, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb958', endColorstr='#f8d5a0', GradientType=1);
                }
            }
            &:nth-child(3) {
                .stats {
                    background: rgba(224, 195, 120, 1);
                    background: -moz-linear-gradient(left, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224, 195, 120, 1)), color-stop(100%, rgba(241, 225, 174, 1)));
                    background: -webkit-linear-gradient(left, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                    background: -o-linear-gradient(left, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                    background: linear-gradient(to right, rgba(224, 195, 120, 1) 0%, rgba(241, 225, 174, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0c378', endColorstr='#f1e1ae', GradientType=1);
                }
            }
            &:nth-child(4) {
                .stats {
                    background: rgba(242, 181, 219, 1);
                    background: -moz-linear-gradient(left, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 181, 219, 1)), color-stop(100%, rgba(248, 198, 223, 1)));
                    background: -webkit-linear-gradient(left, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                    background: -o-linear-gradient(left, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                    background: linear-gradient(to right, rgba(242, 181, 219, 1) 0%, rgba(248, 198, 223, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b5db', endColorstr='#f8c6df', GradientType=1);
                }
            }
            &:nth-child(5) {
                .stats {
                    background: rgba(254, 57, 101, 1);
                    background: -moz-linear-gradient(left, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254, 57, 101, 1)), color-stop(100%, rgba(254, 182, 151, 1)));
                    background: -webkit-linear-gradient(left, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    background: -o-linear-gradient(left, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    background: linear-gradient(to right, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3965', endColorstr='#feb697', GradientType=1);
                }
            }
            &:nth-child(6) {
                .stats {
                    background: rgba(255, 127, 125, 1);
                    background: -moz-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 127, 125, 1)), color-stop(100%, rgba(255, 191, 190, 1)));
                    background: -webkit-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    background: -o-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    background: linear-gradient(to right, rgba(255, 127, 125, 1) 0%, rgba(255, 191, 190, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f7d', endColorstr='#ffbfbe', GradientType=1);
                }
            }
            &:nth-child(7) {
                .stats {
                    background: rgba(10, 195, 131, 1);
                    background: -moz-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10, 195, 131, 1)), color-stop(100%, rgba(13, 242, 162, 1)));
                    background: -webkit-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    background: -o-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    background: linear-gradient(to right, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ac383', endColorstr='#0df2a2', GradientType=1);
                }
            }
            &:nth-child(8) {
                .stats {
                    background: rgba(254, 94, 113, 1);
                    background: -moz-linear-gradient(left, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254, 94, 113, 1)), color-stop(100%, rgba(254, 143, 156, 1)));
                    background: -webkit-linear-gradient(left, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                    background: -o-linear-gradient(left, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                    background: linear-gradient(to right, rgba(254, 94, 113, 1) 0%, rgba(254, 143, 156, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5e71', endColorstr='#fe8f9c', GradientType=1);
                }
            }
            &:nth-child(9) {
                .stats {
                    background: rgba(10, 195, 131, 1);
                    background: -moz-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10, 195, 131, 1)), color-stop(100%, rgba(13, 242, 162, 1)));
                    background: -webkit-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    background: -o-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    background: linear-gradient(to right, rgba(10, 195, 131, 1) 0%, rgba(13, 242, 162, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ac383', endColorstr='#0df2a2', GradientType=1);
                }
            }
            &:nth-child(10) {
                .stats {
                    background: rgba(173, 170, 255, 1);
                    background: -moz-linear-gradient(left, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(173, 170, 255, 1)), color-stop(100%, rgba(192, 184, 248, 1)));
                    background: -webkit-linear-gradient(left, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                    background: -o-linear-gradient(left, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                    background: linear-gradient(to right, rgba(173, 170, 255, 1) 0%, rgba(192, 184, 248, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adaaff', endColorstr='#c0b8f8', GradientType=1);
                }
            }
            &:nth-child(11) {
                .stats {
                    background: rgba(251, 169, 151, 1);
                    background: -moz-linear-gradient(left, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251, 169, 151, 1)), color-stop(100%, rgba(244, 194, 158, 1)));
                    background: -webkit-linear-gradient(left, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                    background: -o-linear-gradient(left, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                    background: linear-gradient(to right, rgba(251, 169, 151, 1) 0%, rgba(244, 194, 158, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba997', endColorstr='#f4c29e', GradientType=1);
                }
            }
            &:nth-child(12) {
                .stats {
                    background: rgba(105, 230, 104, 1);
                    background: -moz-linear-gradient(left, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(105, 230, 104, 1)), color-stop(100%, rgba(168, 213, 169, 1)));
                    background: -webkit-linear-gradient(left, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                    background: -o-linear-gradient(left, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                    background: linear-gradient(to right, rgba(105, 230, 104, 1) 0%, rgba(168, 213, 169, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69e668', endColorstr='#a8d5a9', GradientType=1);
                }
            }
            &:nth-child(13) {
                .stats {
                    background: rgba(255, 188, 61, 1);
                    background: -moz-linear-gradient(left, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 188, 61, 1)), color-stop(100%, rgba(255, 212, 133, 1)));
                    background: -webkit-linear-gradient(left, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                    background: -o-linear-gradient(left, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                    background: linear-gradient(to right, rgba(255, 188, 61, 1) 0%, rgba(255, 212, 133, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc3d', endColorstr='#ffd485', GradientType=1);
                }
            }
            &:nth-child(14) {
                .stats {
                    background: rgba(255, 94, 180, 1);
                    background: -moz-linear-gradient(left, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 94, 180, 1)), color-stop(100%, rgba(255, 158, 211, 1)));
                    background: -webkit-linear-gradient(left, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                    background: -o-linear-gradient(left, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                    background: linear-gradient(to right, rgba(255, 94, 180, 1) 0%, rgba(255, 158, 211, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5eb4', endColorstr='#ff9ed3', GradientType=1);
                }
            }
            &:nth-child(15) {
                .stats {
                    background: rgba(1, 170, 173, 1);
                    background: -moz-linear-gradient(left, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1, 170, 173, 1)), color-stop(100%, rgba(1, 218, 222, 1)));
                    background: -webkit-linear-gradient(left, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                    background: -o-linear-gradient(left, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                    background: -ms-linear-gradient(left, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                    background: linear-gradient(to right, rgba(1, 170, 173, 1) 0%, rgba(1, 218, 222, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01aaad', endColorstr='#01dade', GradientType=1);
                }
            }
            &:nth-child(16) {
                .stats {
                    background-color: rgba(254, 57, 101, 1);
                    background-image: -moz-linear-gradient(left, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(254, 57, 101, 1)), color-stop(100%, rgba(254, 182, 151, 1)));
                    background-image: -webkit-linear-gradient(left, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    background-image: -o-linear-gradient(left, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    background-image: -ms-linear-gradient(left, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    background-image: linear-gradient(to right, rgba(254, 57, 101, 1) 0%, rgba(254, 182, 151, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3965', endColorstr='#feb697', GradientType=1);
                }
            }
        }
    }
}
