.not-found{

    .bg-purple {
        background-image: linear-gradient(to right top, #49366c, #6f568e, #9679b2, #be9dd7, #e8c3fd);
    }

    .img-wrap {
        width: auto;
        margin: 0 auto;
    }

    .img-wrap img {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    .page-not-found {
        height: 100%;

    }

    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: Arial;
        text-align: center;
        left: 0;
        right: 0;
    }

    p {
        font-size: 18px;
        color: #787878;
    }

    h3 {
        color: #c3002f;
        font-size: 32px;
        font-family: Arial;
        margin-bottom: -6px;
    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:focus {
        height: 38px;
        width: 170px;
        background: #512da8;
        font-size: 16px;
        color: #fff;
        border: none;
        border-radius: 50px;
        margin-top: 16px;
        cursor: pointer;
        display: inline-block;
        line-height: 26px;
        text-decoration: none;
    }

    .img-holder {
        width: 300px;
        margin: 0 auto;
    }

    .img-holder img {
        width: 100%;
    }

    .error .error-title {
        font-size: 26px;
        margin-bottom: 20px;
        line-height: normal;
    }


    .error p {
        font-size: 16px;
    }
    .btn-round {
        border-radius: 50px;
    }
}